/* ------------------ top_banner -------------------*/
.top_banner{
    background-image: url(../About/about_banner_new2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 140px);

    position: relative;
    margin-top: var(--nav-height);
}


.top_banner h2{
    color: whitesmoke;
    text-align: center;
    position:  absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 991px){
    .top_banner{
        top: calc(100% - var(--nav-height));
        width: 100%;
    }
}

/* ------------------ intro top -------------------*/
.intro h3{
    text-align: center;
    margin: 20px auto 0;
}

@media screen and (max-width: 991px){
    .intro{
        display: block;
        margin-top: 100px;
    }

    .intro h3{
        font-size: 1.5rem;
        text-align: center;
    }
}

.intro_top_text{
    text-align: center;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    border-top: 1px dashed #A6C609;
}

@media screen and (max-width: 991px){
    .intro_top_text{
        width: 100%;
    }
}

/* -------- intro middle 圖片 & intro end --------*/
.container .row .pic{
    position: relative;
}

.container img{
    max-width: 100%;
    display:block;
    overflow:hidden;
    margin: 0 auto;
  }

.container_text{
    display: block;
    text-align: center;
    margin: 30px;
}

.title{
    position:absolute;
    display:block;
    top: 20%;
    left: 35%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: whitesmoke;
    font-size: 3.5em;
    text-shadow: 1px 5px 10px black;
  }

@media (max-width: 767.98px){
    .container img{
        padding-bottom: 10px;
    }
}

/* -------------- END banner ---------------*/
.endBanner{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.endBanner h3{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.endBanner img{
    width: 100%;
}

.endBanner .endbtn{
    position: absolute;
    
    margin: 0 auto;
    top: 45%;
    right: 45%;
    transform: translateX(50%);
}

.endBanner .endbtn a {
    display: block;
    height: 40px;
    width: 150px;
    background-color:#1C1C1C;
    color: whitesmoke;
    text-align: center;
    line-height: 40px;    
    border-radius: 5px;
}


.endBanner .endbtn {
    animation: bounce 2s cubic-bezier(0.280, 0.840, 0.420, 1) infinite alternate;
  }

  @keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-30px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-10px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
  } 

.endBanner a:hover{
    background-color:#BF5B04;
}

@media screen and (max-width: 767.98px){
    .endBanner h3{
        font-size: 1.5rem;
        padding: 10px;
    }

    .endBanner a{
        margin-top: 20px;
    }

    .endBanner .endbtn{
        position: absolute;
        
        margin: 0 auto;
        top: 45%;
        right: 40%;
        transform: translateX(50%);
    }
}

@media screen and (max-width: 575.98px){
    .endBanner .endbtn{
        position: absolute;
        
        margin: 0 auto;
        top: 45%;
        right: 35%;
        transform: translateX(50%);
    }
}