/* ------------------ top_banner -------------------*/
.top_banner{
    background-image: url(../Bar/umebar_banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 140px);

    position: relative;
}

.barThe{
    width: 100px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.barLogo{
    width: 600px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ------------------ intro -------------------*/
.intro h3{
    text-align: center;
    margin: 20px 0 20px 0;
}

/* ------------------ bartender -------------------*/
.bartenderIntro{
    display: flex;
    justify-content: center;
    padding: 20px 120px 20px 120px;
}

.bartenderpic{
    text-align: center;
}

.bartenderpic img{
    width: 80%;
}

.bartenderpic p{
    font-weight: bold;
    padding: 20px;
}

/* ------------------ 調酒圖片區 -------------------*/
.cocktail h3{
    text-align: center;
}

.cocktaillist ul{
    width: 1200px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    padding: 20px;
}

.cocktaillist li{
    background-size: cover;
    background-position: center center;
    transition: .5s;
}

.c1{
    background-image: url(../Bar/cocktail/c1.jpg);
    flex-grow: 2;
}

.c2{
    background-image: url(../Bar/cocktail/c2.jpg);
    flex-grow: 2;
}

.c3{
    background-image: url(../Bar/cocktail/c3.jpg);
    flex-grow: 3;
}

.c4{
    background-image: url(../Bar/cocktail/c4.jpg);
    flex-grow: 4;
}

.c5{background-image: url(../Bar/cocktail/c5.jpg);
    flex-grow: 5;
}

.cocktaillist li:hover{
    flex-grow: 6;
}

/* --------------- 地址 & google map ----------------*/
.baradd h3{
    text-align: center;
}

.baradd p{
    text-align: center;
}

.baradd iframe{
    display: block;
    margin: 0 auto;
    padding: 20px;
}