/* ------------------ top_banner -------------------*/
.top_banner{
    background-image: url(../Bar/umebar_banner_new.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 140px);

    position: relative;
}

.barThe{
    width: 100px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.barLogo{
    width: 600px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ------------------ intro -------------------*/
.intro h3{
    text-align: center;
    margin: 20px 0 20px 0;
}

/* ------------------ bartender -------------------*/
.bartenderIntro{
    display: flex;
    justify-content: center;
    padding: 20px 120px 20px 120px;
}

.bartenderpic{
    text-align: center;
}

.bartenderpic img{
    height: 350px;
    border-radius: 15px;
    margin-right: 20px;
}

.bartenderpic p{
    font-weight: bold;
    padding: 20px;
}

/* ------------------ 調酒圖片區 -------------------*/
.cocktail h3{
    text-align: center;
}

.cocktaillist ul{
    width: 1200px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    padding: 20px;
}

.cocktaillist li{
    background-size: cover;
    background-position: center center;
    transition: .5s;
}

.c1{
    background-image: url(../Bar/cocktail/c1.jpg);
    flex-grow: 2;
    position: relative;
}

.c2{
    background-image: url(../Bar/cocktail/c2.jpg);
    flex-grow: 2;
    position: relative;
}

.c3{
    background-image: url(../Bar/cocktail/c3.jpg);
    flex-grow: 3;
    position: relative;
}

.c4{
    background-image: url(../Bar/cocktail/c4.jpg);
    flex-grow: 4;
    position: relative;
}

.c5{background-image: url(../Bar/cocktail/c5.jpg);
    flex-grow: 5;
    position: relative;
}

.cocktaillist li:hover{
    flex-grow: 6;
}

.cocktaillist p{
    text-align: center;
    vertical-align: middle;
    padding-top: 25px;
    width: 150px; 
    height: 150px;
    background-color: whitesmoke;
    opacity: .8;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    transform:scaleY(0);
    transition:transform .5s;
}

.cocktaillist li:hover p{
    display: block; 
    transform:scaleY(1);
}

/* --------------- 地址 & google map ----------------*/
.baradd h3{
    margin-top: 30px;
    text-align: center;
}

.baradd p{
    text-align: center;
}

.baradd iframe{
    display: block;
    margin: 0 auto;
    padding: 20px;
}