/* ------------------ top_banner -------------------*/
.top_banner{
    background-image: url(../Contact/contact_banner_new.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 140px);

    position: relative;
}

.top_banner h2{
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 991px){
    .top_banner{
        top: calc(100% - var(--nav-height));
        width: 100%;
    }
}

/* ------------------ intro -------------------*/
.intro{
    margin: 60px;
}
.intro p{
    text-align: center;
    line-height: 2;
}

/* ------------------ Contact Inner -------------------*/
.contactInner{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    
}
.contactInner .contactForm{
    width: 100%;
    margin: 0 auto;
}

.contactInner.contactForm.formItem{
    display: flex;
    justify-content: center;
    width: 100%;
}

.formItem input{
    border: 1px solid #1C1C1C;
    border-radius: 3px;
    height: 50px;
    width: 600px;
    margin-bottom: 20px;
}

.formItem textarea{
    border: 1px solid #1C1C1C;
    border-radius: 3px;
    resize:none; 
    width: 600px; 
    height: 100px;
    margin-bottom: 20px;
    margin: 0 auto;
}

@media (max-width: 767.98px){
    .contactInner{
        width: 100%;
        margin: 0 auto;
    }

    .formItem input{
        width: 80%;
    }

    .formItem textarea{
        width: 80%;
        margin-bottom: 20px;
    }

}

/* --------------- agree box ----------------*/

.agreebox{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.agreebox .agreeInner{
    text-align: center;
}

.agreeSend{
    width: 100%;
    margin: 20px;
    margin: 0 auto;
}

.agreeSend .sendBtn{
    height: 30px;
    width: 100px;
    margin: 20px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}