/* ------------------ top_banner -------------------*/
.top_banner{
    background-image: url(../Contact/contact_banner_new.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 140px);

    position: relative;
}

.top_banner h2{
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ------------------ intro -------------------*/
.intro{
    margin: 60px;
}
.intro p{
    text-align: center;
    line-height: 2;
}

/* ------------------ Contact Inner -------------------*/
.contactInner .contactForm{
    width: 800px;
    margin: 0 auto;
}

.formItem{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.formItem input{
    border: 1px solid #1C1C1C;
    border-radius: 3px;
    height: 50px;
    width: 700px;
}

.formItem textarea{
    border: 1px solid #1C1C1C;
    border-radius: 3px;
    resize:none; 
    width:700px; 
    height:200px;
}

/* --------------- agree box ----------------*/

.agreebox{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.agreebox .agreeInner{
    text-align: center;
}

.agreeSend{
    width: 100%;
    margin: 20px;
    margin: 0 auto;
}

.agreeSend .sendBtn{
    height: 30px;
    width: 100px;
    margin: 20px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}