/* ------------------ top banner -------------------*/
.top_banner{
    background-image: url(../index/index_banner_new.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 140px);

    position: relative;
}

.top_banner .center_logo{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: fadeInAnimation linear 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

@media screen and (max-width: 991px){
    .top_banner .center_logo{
        width: 200px;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* --------------- About Us ----------------*/
.index_about{
    display: flex;
    justify-content: center;
    text-align: left;
    margin: 20px 0 20px 0;
}

.index_about img{
    display: block;
    height: 300px;
    margin-top: 50px;
    margin-left: 120px;
}

.index_about_text{
    margin-left: 30px;
}

.index_about_text h3{
    margin-top: 60px;
}

.index_about_text p{
    margin-left: 20px;
}

.index_about_text a{
    display: block;
    height: 40px;
    width: 150px;
    background-color:#1C1C1C;
    color: whitesmoke;
    text-align: center;
    line-height: 40px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.index_about_text a:hover{
    background-color:#BF5B04;
}

@media screen and (max-width: 991px){
    .index_about{
        display: block;
        width: 100%;
    }

    .index_about_text{
        width: 100%;
        margin: 0 auto;
    }

    .index_about img{
        max-width: 100%;
        margin: 0 auto;
    }

    .index_about_text h3{
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
   
    .index_about_text p {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    .index_about_text a{
        margin: 20px auto;
    }
}

/* --------------- Products ----------------*/
.index_product_title h3{
    text-align: center;
    margin-top: 30px;
}

.index_product_list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: center;
}

.index_product_list li img{
    border: 0;
    margin: 30px;
    overflow: hidden;
    transform:scale(1);
    transition: all 1s ease-out;
}

.index_product_list li p{
    margin-bottom: 30px;
}

.productbtn_1{
    display: block;
    height: 40px;
    width: 150px;
    background-color:#1C1C1C;
    color: whitesmoke;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
    border-radius: 5px;
}

.productbtn_2{
    display: none;
}

.index_product_list a:hover{
    background-color:#BF5B04;
}

.index_product_list img:hover {
    transform:scale(1.1);
}

@media screen and (max-width: 991px){
    .index_product_title{
        width: 100%;
        margin: auto
    }

    .index_product_list{
        display: block;
    }

    .productbtn_1{
        display: none;
    }

    .productbtn_2{
    display: block;
    height: 40px;
    width: 150px;
    background-color:#1C1C1C;
    color: whitesmoke;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
    border-radius: 5px;
    }

}


/* --------------- UME BAR ----------------*/
.index_bar{
    background-size: cover;
    background-image: url(../index/index_bar_pic1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    margin: 65px 120px 0 120px;
    padding: 65px 0 65px 60px;

    position: relative;
    text-align: center;
}

.index_bar_text {
    background-color: whitesmoke;
    opacity: 0.8;
    border-radius: 5px;
    margin-left: 50px;
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px;

    position: absolute;
    left: 50px;
    top: 50px;
}

.index_bar_text p{
    margin-left: 20px;
}

.index_bar_text a{
    display: block;
    height: 40px;
    width: 150px;
    background-color:#1C1C1C;
    color: whitesmoke;
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    align-self: center;
}

.index_bar_text a:hover{
    background-color:#D98E04;
}

@media screen and (max-width: 991px){
    .index_bar{
        margin: 65px 65px 0 65px;
    }

    .index_about_text{
        max-width: 100%;
    }
}

/* --------------- STORE ----------------*/
.index_store{
    background-size: cover;
    background-image: url(../index/index_store_pic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    margin: 65px 120px 20px;
    padding: 65px 60px 65px 0;

    position: relative;
    text-align: center;
}

.index_store_text{
    background-color: whitesmoke;
    opacity: 0.8;
    border-radius: 5px;
    padding: 0 20px 20px;
    width: 350px;
    display: flex;
    flex-direction: column;

    position: absolute;
    right: 100px;;
    top: 50px;
}

.index_store_text a{
    display: block;
    height: 40px;
    width: 150px;
    background-color:#1C1C1C;
    color: whitesmoke;
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
    align-self: center;
    border-radius: 5px;
}   

.index_store_text a:hover{
        background-color:#D98E04;
}

@media screen and (max-width: 991px){
    .index_store{
        margin: 65px 65px 0 65px;
    }

    .index_store_text{
        max-width: 100%;
    }
}