/* ------------------ list head -------------------*/
.listHead h3{
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-top: 100px;
}

.listContent{
   width: 60%;
   margin: 0 auto;
   padding: 20px;
   border-top: 1px solid #1C1C1C;
   border-bottom: 1px solid #1C1C1C;
}

@media (max-width:991.98px) {
    .listContent{
        width: 80%;
        padding: 15px;
    }
}

@media (max-width:767.98px) {
    .listContent{
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 576.98px) {
    .listContent{
        width: 100%;
        font-size: 14px;
    }
}

.productsInList{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listContent .product-header{
    width: 100%;
    padding-bottom: 20px;
}

.productsInList .products {
    width: 200%;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.productsInList .quantity{
    width: 100%;
    text-align: center;
}

.productsInList .total{
    width: 100%;
    text-align: center;
}

.productsInList .products ion-icon{
    font-size: 32px;
    text-align: center;
    margin: 0 20px;
}

@media (max-width:991.98px) {
    .productsInList .products ion-icon{
        font-size: 40px;
    }
}

.productsInList .products img{  
    display: block;
    height: 100px;
    margin: 0 50px;
}

.productsInList .products span{
    width: 100%;
    text-align: center;
}

@media (max-width:767.98px) {
    /* .productsInList .products ion-icon{
        font-size: 44px;
    } */

    .productsInList .products img{
        margin: 0;
    }
}

/* ------------------ list form -------------------*/
.listForm{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.listForm input{
    width: 70%;
    height: 50px;
    margin-bottom: 20px;
}

@media screen and (max-width:767.98px) {
    .listForm,
    .listForm input{
        width: 90%;
    }
}

.checkAge{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (max-width:767.98px) {
    .checkAge{
        width: 100%;
    }
}

.claim{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.claim p{
    line-height: 1.6;
}

@media screen and (max-width:767.98px) {
    .claim{
        width: 90%;
    }
}

/* ------------------ button -------------------*/
.listBtn{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.listBtn .sendBtn, 
.listBtn .keepBtn{
    width: 150px;
    height: 30px;
    margin-bottom: 20px;
}

@media screen and (max-width:767.98px) {
    .listBtn{
        width: 100%;
    }
}

/* ------------------ button -------------------*/
.product-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.product-header p{
    width: 25%;
    text-align: center;
}