/* ------------------ list head -------------------*/
.listHead h3{
    text-align: center;
    margin: 20px 0 20px 0;
}

.listContent{
   width: 800px;
   margin: 0 auto;
   padding-top: 20px;
   margin-bottom: 20px;
   border-top: 1px solid #1C1C1C;
   border-bottom: 1px solid #1C1C1C;
}

.listContent ul{
    align-items: center;
}

.listContent li{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    align-items: center;
}

.listContent .listItem{
    justify-content: center;
}

.listContent .listProduct{
    height: 150px;
}

.listContent .trash{
    height: 30px;
}

.listItem p{
    margin: 0 50px 0 50px;
}

.listItem .listNum{
    height: 40px;
    width: 40px;
    margin-left: 150px;
}
/* ------------------ list form -------------------*/
.listForm{
    width: 800px;
    margin: 0 auto;
}

.listForm input{
    width: 800px;
    height: 50px;
    margin-bottom: 20px;
}

.checkAge{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.claim{
    width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.claim p{
    line-height: 1.6;
}

/* ------------------ button -------------------*/
.listBtn{
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.listBtn .sendBtn, .listBtn .keepBtn{
    width: 150px;
    height: 30px;
    margin-bottom: 20px;
}