/* ------------------ list head -------------------*/
.listHead h3{
    text-align: center;
    padding: 20px;
    width: 100%;
}

.listContent{
   width: 60%;
   margin: 0 auto;
   padding: 20px;
   border-top: 1px solid #1C1C1C;
   border-bottom: 1px solid #1C1C1C;
}

@media screen and (max-width: 991.98px) {
    .listContent{
        width: 100%;
    }
}

}
@media screen and (max-width: 991.98px) {
    .listContent{
        width: 100%;
    }
}

.listContent ul > .listTitle{
    margin-bottom: 20px;
}

.listContent ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.listContent table .head{
    padding: 20px;
} 

.listContent table .content .listProduct{
    display: block;
    width: 50px;
}

.listContent ul .listTitle p{
    margin: 0 50px;
}
.listContent ul .listItem > .listProduct{
    height: 100px;
    margin: 0 50px;
}

.listContent ul .listItem p,
.listContent ul .listItem input{
    margin: 0 50px;
}

.listContent .fa-trash-alt{
    font-size: 20px;
}

.listItem .listNum{
    height: 40px;
    width: 40px;
}

/* ------------------ list form -------------------*/
.listForm{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.listForm input{
    width: 70%;
    height: 50px;
    margin-bottom: 20px;
}

@media screen and (max-width:767.98px) {
    .listForm,
    .listForm input{
        width: 90%;
    }
}

.checkAge{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (max-width:767.98px) {
    .checkAge{
        width: 100%;
    }
}

.claim{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.claim p{
    line-height: 1.6;
}

@media screen and (max-width:767.98px) {
    .claim{
        width: 90%;
    }
}

/* ------------------ button -------------------*/
.listBtn{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.listBtn .sendBtn, 
.listBtn .keepBtn{
    width: 150px;
    height: 30px;
    margin-bottom: 20px;
}

@media screen and (max-width:767.98px) {
    .listBtn{
        width: 100%;
    }
}