/* ------------------ 會員登入表單 head -------------------*/
.login{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
.login h3{
    text-align: center;
    margin: 20px 0 20px 0;
}

.loginMain{
    margin-bottom: 30px;
}

.loginMain input, .forgetPasswd input{
    border: 1px solid #1C1C1C;
    border-radius: 3px;
    height: 50px;
    width: 400px;
    padding: 5px;
    margin-bottom: 20px;
}

.login button{
    width: 50px;
    height: 30px;
}

.forgetPasswd{
    margin-bottom: 100px;
}