@import url(./reset.css);

*{
    box-sizing: border-box; 
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Serif TC', 'Noto Serif', serif;
    font-size: 16px;
    color: #1C1C1C;
    line-height: 1.2;
    letter-spacing: 0.1em;
  }
  
#wrap {
    width: 100%;
    margin: 0 auto;
  }

a{
    color: #1C1C1C;;
    text-decoration: none;
}

h2{
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 10px;
}

h3{
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    color: #A6C609;
    letter-spacing: 5px;
}

/* ------------------ nav bar -------------------*/
.header {
    /* height: 80px; */
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
.logo {
    display: block;
    width: 70px;
    margin: 5px 100px 0 0;
}

ul.menu{
    align-items: center;
}

.menu, .header_icon {
    display: flex;
    text-align: center;
}

.menu li a {
    display: block;
    color: #1C1C1C;
    font-weight: bold;
    padding: 1em;
    text-decoration: none;
    transition: all .3s;
}

.menu li a:hover{
    color: #BF5B04;
}

.showmenu, #NavClose{
    display: none;
}

.header_icon{
    align-items: center;
}

.header_icon i{
    font-size: 30px;
    color: #1C1C1C;
    padding-left: 30px;
    line-height: 80px;
}
      
.header_icon i:hover{
    color: #BF5B04;
}

@media screen and (max-width: 991px){
    .header {
      position: fixed;
      width: 100%;
      background-color: whitesmoke;
      z-index: 100;
      justify-content: space-between;
    }

    .logo{
        margin-left: 10px;
    }

    .menu{
        max-height: 0px;
        overflow: hidden;

        display: flex;
        flex-direction: column;

        position: absolute;
        top: 81px;
        width: 100%;
        text-align: center;
        transition: max-height .8s;
    }

    .menu li{
        border: 2px solid #A6C609; 
        display: flex;
        flex-direction: column;
    }

    .menu li a{
        transition: all .3s;
    }

    .showmenu{
        display: block;
        color: #1C1C1C;
        text-decoration: none;
        margin-right: 20px;
    }

    .menu li a:hover, .showmenu i:hover {
        color: #BF5B04;
    }
}

/* --------------- 喝酒不開車 ----------------*/
.warning{
    background-image: url(../index/warning1200.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    bottom: 0;
    height: 60px;
}

@media screen and (max-width: 991px){
    .warning{
        max-width: 100%;
        margin: 0 auto;
    }
}

/* ---------------- footer -----------------*/
.footer{
    width: 100%;
}

.footer_inner{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.footer_inner p{
    line-height: 30px;
}

.footer_icon{
    display: flex;
}

.fa-facebook-f:before, .fa-instagram:before{
    font-size: 25px;
    margin: 5px;
}

@media screen and (max-width: 991px){
    .footer_inner{
        display: inline-block;
        width: 100%;
    }

    .footer_inner p{
     text-align: center;
    }

    div.footer_icon{
        margin-top: 10px;
        justify-content: center;
    }
}

/* ---------------- go to top btn -----------------*/
#topBtn {
    background-color: transparent;
    position: fixed; 
    bottom: 50px; 
    right: 40px; 
    z-index: 99; 
    border: none; 
    outline: none;
    
    display: none;
  }
  
  #topBtn i{
      background-color: transparent;
      font-size: 40px;
  }

  #topBtn:hover {
    color: #D98E04;
  }

