@import url(./reset.css);

*{
    box-sizing: border-box; 
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Serif TC', 'Noto Serif', serif;
    font-size: 16px;
    color: #1C1C1C;
    line-height: 1.2;
    letter-spacing: 0.1em;
  }
  
#wrap {
    width: 100%;
    margin: 0 auto;
  }

a{
    color: #1C1C1C;;
    text-decoration: none;
}

h2{
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 10px;
}

h3{
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    color: #A6C609;
    letter-spacing: 5px;
}

:root{
    --nav-height: 80px;
}

/* ------------------ nav bar -------------------*/
.header {
    /* height: 80px; */
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;
  }

.logo{
    
    display: block;
    padding: 5px;
    margin-left: 10px;
}

.logo img{
    width: 70px;
}

@media (max-width: 991.98px){
    .header{
        height: var(--nav-height);
        width: 100%;
    }
    
    .logo{
        position: absolute;
        top: 0;
        left: 5px;
    }
}

.menu{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 20px;
    width: 100%;
}

.menu li{
    width: 150px;
}

.menu li a {
    display: block;
    color: #1C1C1C;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    transition: all .3s;
}

.header_icon{
    width: fit-content;
    align-items: center;
    display: flex;
}

.header_icon i{
    font-size: 30px;
    color: #1C1C1C;
    line-height: 80px;
    margin-right: 10px;
    align-items: center;
    float: right;
}
     
.header .menu li a:hover, .header_icon i:hover{
    color: #BF5B04;
}

@media (max-width: 991.98px){
    .menu {        
        display: flex;
        flex-direction: column;

        position: fixed;
        top: var(--nav-height);
        height: fit-content;
        width: 100%;
        background-color: whitesmoke;
        z-index: 100;
        text-align: center;
        transition: all .3s;
        cursor: pointer;

        display: none;
      }

      .menu li{
          width: 100%;
      }

      .menu li:hover a{
        border: 1px dashed #BF5B04;
      }
}

@media (max-width: 1000px){
    .header_icon{
        position: absolute;
        top: 0;
        right: 50px;
    }

}

/* --------------- hamburger btn ----------------*/


/* --------------- 喝酒不開車 ----------------*/
.warning{
    background-image: url(../index/warning400.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60%;
    background-color: white;
    position: sticky;
    bottom: 0;
    height: 60px;
    width: 100%;
    margin: 0 auto;
}

/* @media screen and (max-width: 991px){
    .warning{
        width: 100%;
        margin: 0 auto;
    }
} */

@media (min-width:320px) and (max-width:575.98px){
    .warning{
        background-size: 70%;
    }
}

/* ---------------- footer -----------------*/
.footer{
    width: 100%;
}

.footer_inner{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.footer_inner p{
    line-height: 30px;
}

.footer_icon{
    display: flex;
}

.fa-facebook-f:before, .fa-instagram:before{
    font-size: 25px;
    margin: 5px;
}

@media screen and (max-width: 991px){
    .footer_inner{
        display: inline-block;
        width: 100%;
    }

    .footer_inner p{
     text-align: center;
    }

    div.footer_icon{
        margin-top: 10px;
        justify-content: center;
    }
}

/* ---------------- go to top btn -----------------*/
#topBtn {
    background-color: transparent;
    position: fixed; 
    bottom: 50px; 
    right: 40px; 
    z-index: 99; 
    border: none; 
    outline: none;
    
    display: none;
  }
  
  #topBtn i{
      background-color: transparent;
      font-size: 40px;
  }

  #topBtn:hover {
    color: #D98E04;
  }

@media screen and (max-width: 767.98px){
    #topBtn{
        position: fixed; 
        bottom: 50px; 
        right: 30px;
    }
    #topBtn i{
        font-size: 32px;
    }
}
