/* ------------------ top_banner -------------------*/
.top_banner{
    background-image: url(../Product/product_banner-3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 140px);

    position: relative;
}

.top_banner h2{
    color: #1C1C1C;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ------------------ intro -------------------*/
.intro h3{
    text-align: center;
    margin: 20px 0 20px 0;
}

/* ------------------ product list 橫排 -------------------*/

.productList{
    margin-top: 30px;
}

.productList ul{
    overflow: hidden;
    display: table;
    margin: 0 auto;
    width: 1000px;
}

.productList ul li{
    display: table-cell;
    padding: 10px;
    text-align: center;
    vertical-align: bottom;
    line-height: 1.5;
}

.productList ul li:hover p{
    color: #BF5B04;
}

.productTitle{
    margin-top: 20px;
}

.productList ul li a{
    display: block;
    text-decoration: none;
    font-size: 18px;
    padding-bottom: 30px;
    position: relative;
}

.productList ul li a img{
    width: 82px; 
}

.productList ul li a::after{
    background: url(../Product/godown.svg) no-repeat center top;
    width: 35px;
    height: 18px;
    position: absolute;
    left: 50%;
    bottom: 0;
    display: block;
    content: '';
    margin-left: -17px;
}

/* ------------------ product list -------------------*/

.mainProduct{
    padding: 50px 50px 0 50px;
}

.mainProduct .item{
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
}

.item .itemInnerPic{
    float: left;
    width: 475px;
    text-align: right;
    margin-top: 30px;
}

/* .item .itemInnerPic img{
    width: 65%;
} */

.item .itemInnerText{
    float: right;
    margin-right: 45px;
    width: 470px;
}

.item .itemInnerText h3{
    padding: 20px 20px 20px 5px;
}

.item .itemInnerText p{
    padding: 5px;
}

.itemInnerText table tr{
    display: table-row;
}

.itemInnerText table tr th{
    padding: 5px;
    text-align: left;
    width: 100px;
}

.itemInnerTextWarning{
    color: #fd171a;
    margin-top: 16px;
    font-weight: bold;
}

.itemInnerPic > .ume{
    height: 300px;
    margin-left: 220px;
    margin-top: 50px;
}

.itemInnerPic > .sakeume{
    height: 400px;
}

.itemInnerPic > .whiskyume{
    height: 400px;
}

.itemInnerPic > .shoume{
    height: 300px;
    margin-top: 50px;
}

.itemInnerPic > .awamoriume{
    height: 300px;
    margin-top: 50px;
}

.addToList{
    padding: 5px;
}
.addToList a{
    display: block;
    height: 40px;
    width: 150px;
    background-color:#1C1C1C;
    color: whitesmoke;
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
}

.addToList a:hover{
    background-color:#BF5B04;
}

.goBackList{
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 2px dashed #A6C609;
}

.goBackList a{
    float: right;
}

.goBackList img{
    width: 45px;
    height: 30px;
}

/* ------------------ 推薦喝法 -------------------*/
.recommand{
    text-align: center;
}

.recommandInner{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 30px;
}

.recommandInner img{
    width: 75px;
    margin: 30px;
}

.recommand1 img{
    margin-top: 50px;
}

.recommand3 img{
    margin-top: 50px;
}

.recommandContent div{
    width: 300px;
}

.recommand2{
    border-left: 2px dashed #A6C609;
    border-right: 2px dashed #A6C609;
}

.recommandTitle{
    font-weight: bold;
    margin-bottom: 30px;
}

.recommandText{
    padding: 20px;
}