/* ------------------ list cart -------------------*/
.listCart{
  position: absolute;
  /* top: 80px; */
  min-width: 320px;
  background: whitesmoke;
  top: var(--nav-height);
  right: 0;
  transition: all 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.5);
  /* width: 0; */
  overflow: hidden;
  background-color: whitesmoke;
  /* display: none; */
}

.show-listCart{
  width: 18rem;
  padding: 2rem 1.5rem;
  transform: rotateY(-360deg);
  height: fit-content;
}

.listCart .list-row-title{
  padding: 10px;
  
}

.listCart .list-row-title span{
  margin-right: 40px;
  text-align: left;
}

.listCart .list-row{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  /* transition: all 1s ease-in-out; */
  /* position:absolute; */
  /* top: var(--nav-height); */
}

.listCart .list-row img{
  height: 100px;
}

.listCart .list-qty .cart-qty-input{
  width: 40px;
}

.listCart .list-row-remove{
  color: #1c1c1c;
  transition: all 1s ease-in-out;
}

.listCart .list-item-remove:hover{
  transform: scale(1.1);
  color: #fd171a;
} 

.list-row-total{
  padding: 10px;
}

.send-Btn {
  padding: 10px;
}

.send-Btn input{
  cursor: pointer;
}

/* ------------------ top_banner -------------------*/
.top_banner {
  background-image: url(../Product/product_banner_new.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 140px);

  position: relative;
  margin-top: var(--nav-height);
}

.top_banner h2 {
  color: #1c1c1c;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 991px) {
  .top_banner {
    top: calc(100% - var(--nav-height));
    width: 100%;
  }
}

/* ------------------ intro -------------------*/
.intro h3 {
  text-align: center;
  margin: 20px 0 20px 0;
}

/* ------------------ product list 橫排 -------------------*/

.productList {
  margin-top: 30px;
}

.productListInner {
  width: 100%;
}

.productList ul {
  overflow: hidden;
  display: table;
  /* display: flex; */
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 767.98px) {
  .productList ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.productList ul li {
  display: table-cell;
  text-align: center;
  vertical-align: bottom;
  line-height: 1.5;
}

.productList ul li:hover p {
  color: #bf5b04;
}

.productTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.productList ul li a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  padding-bottom: 30px;
  position: relative;
}

.productList ul li a img {
  width: 82px;
}

/* --------------- product list 直排 ----------------*/

.mainProduct {
  padding: 50px 50px 0 50px;
}

.mainProduct .item {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: calc(100% - 200px);
  margin: 0 auto;
}

@media (max-width: 991px) {
  div.mainProduct {
    width: 100%;
  }
  div.mainProduct .item {
    width: 100%;
  }
}

.item .itemInnerPic {
  width: 475px;
  text-align: center;
}

.item .itemInnerText {
  width: 470px;
}

.item .itemInnerText h3 {
  padding: 20px 20px 20px 5px;
}

.item .itemInnerText p {
  padding: 5px;
}

.itemInnerText table tr {
  display: table-row;
}

.itemInnerText table tr th {
  padding: 5px;
  text-align: left;
  width: 100px;
}

.itemInnerTextWarning {
  color: #fd171a;
  margin-top: 16px;
  font-weight: bold;
}

.itemInnerPic > .ume {
  height: 300px;
  margin-top: 50px;
}

.itemInnerPic > .sakeume {
  height: 400px;
  padding-top: 50px;
}

.itemInnerPic > .whiskyume {
  height: 400px;
  padding-top: 50px;
}

.itemInnerPic > .shoume {
  height: 300px;
  margin-top: 50px;
}

.itemInnerPic > .awamoriume {
  height: 300px;
  margin-top: 50px;
}

@media (max-width: 767.98px) {
  .item .itemInnerPic {
    width: 50%;
    padding-right: 20px;
  }

  .itemInnerPic > .ume {
    height: 200px;
    margin-top: 100px;
  }

  .itemInnerPic > .sakeume {
    height: 350px;
    padding-top: 100px;
  }

  .itemInnerPic > .whiskyume {
    height: 350px;
    padding-top: 100px;
  }

  .itemInnerPic > .shoume {
    height: 200px;
    margin-top: 100px;
  }

  .itemInnerPic > .awamoriume {
    height: 200px;
    margin-top: 100px;
  }
}

/* @media (min-width:320px) and (max-width: 767.98px){
    .item .itemInnerPic{
        width: 30%;
        padding-right: 20px;
    }
} */

.shop-item-btn {
  
}

.shop-item-btn{
  width: 150px;
  background-color: #1c1c1c;
  border-radius: 3px;
  color: whitesmoke;
  margin-top: 20px;
  padding: 10px;
}

.shop-item-btn:hover {
  background-color: #bf5b04;
}

.goBackList {
  overflow: hidden;
  margin: 0 auto;
  /* padding: 10px; */
  /* border-bottom: 2px dashed #A6C609; */
}

.goBackList a {
  float: right;
}

.goBackList img {
  width: 45px;
  height: 30px;
}

@media (max-width: 991px) {
  .goBackList {
    width: 100%;
  }
}
/* ------------------ 推薦喝法 -------------------*/
.recommand {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.recommandInner {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 20px 100px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .recommandInner {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .recommandContent div {
    width: 100%;
  }
}

.recommandInner img {
  width: 75px;
  margin: 30px;
}

.recommand1 img {
  margin-top: 50px;
}

.recommand3 img {
  margin-top: 50px;
}

.recommand2 {
  border-left: 2px dashed #a6c609;
  border-right: 2px dashed #a6c609;
}

@media (max-width: 991px) {
  .recommand2 {
    border: none;
  }
}
.recommandTitle {
  font-weight: bold;
  margin-bottom: 30px;
}

.recommandText {
  padding: 20px;
}
