/* ------------------ top_banner -------------------*/
.top_banner{
    width: 100%;
    position: relative;
}

.top_banner img{
    width: 100%;
    height: calc(100vh - 140px);
}

.top_banner h2{
    color: whitesmoke;
    text-align: center;
    position:  absolute;
    top: 250px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/* ------------------ intro -------------------*/
.intro h3{
    text-align: center;
    margin: 20px 0 20px 0;
}

/* ------------------ storeitem -------------------*/
.storeItem{
    margin-bottom: 20px;
}

.storeItem ul{
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    
    position: relative;
}

.storeItem li{
    width: 400px;
    background-size: cover;
    background-position: center center;
}

.s1{
    background-image: url(../Store/1-100.jpg);
    flex-grow: 1;
}

.s2{
    background-image: url(../Store/9-100.jpg);
    flex-grow: 1;
}

.s3{
    background-image: url(../Store/16-100.jpg);
    flex-grow: 1;
}

.s4{
    background-image: url(../Store/2-100.jpg);
    flex-grow: 1;
}

.s5{
    background-image: url(../Store/7-100.jpg);
    flex-grow: 1;
}

.s6{
    background-image: url(../Store/10-100.jpg);
    flex-grow: 1;
}

.s7{
    background-image: url(../Store/17-100.jpg);
    flex-grow: 1;
}

.s8{
    background-image: url(../Store/28-100.jpg);
    flex-grow: 1;
}

.s9{
    background-image: url(../Store/32-100.jpg);
    flex-grow: 1;
}

.s1 p, .s7 p{
    position: absolute;
    top: 80px;
    left: 260px;
    text-align: center;
}

.s2 p, .s8 p{
    position: absolute;
    top: 80px;
    left: 645px;
    text-align: center;
}

.s4 p{
    position: absolute;
    top: 80px;
    left: 35px;
    text-align: center;
}

.s5 p{
    position: absolute;
    top: 80px;
    left: 455px;
    text-align: center;
}

.s6 p{
    position: absolute;
    top: 80px;
    right: 240px;
    text-align: center;
}

.s9 p{
    position: absolute;
    top: 80px;
    right: 30px;
    text-align: center;
}

li:hover {
    opacity: 0.8;
}

li:hover p{
    color: whitesmoke;
    font-weight: bold;
}

/* --------------- 地址 & google map ----------------*/
.storeadd h3{
    text-align: center;
}

.storeadd p{
    text-align: center;
}

.storeadd iframe{
    display: block;
    margin: 0 auto;
    padding: 20px;
}