/* ------------------ top_banner -------------------*/
.top_banner{
    background-image: url(../Store/store_banner2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 140px);

    position: relative;
}

.top_banner h2{
    color: whitesmoke;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

/* ------------------ intro -------------------*/
.intro h3{
    text-align: center;
    margin: 20px 0 20px 0;
}

/* ------------------ storeitem -------------------*/
.storeItem{
    width: 1200px;
    margin: 0 auto;
}

.storeItem ul{
    height: 200px;
    display: flex;
    
    position: relative;
}

.storeItem li{
    width: 400px;
    background-size: cover;
    background-position: center center;
}

.s1{
    background-image: url(../Store/1-100.jpg);
    flex-grow: 1;
}

.s2{
    background-image: url(../Store/9-100.jpg);
    flex-grow: 1;
}

.s3{
    background-image: url(../Store/16-100.jpg);
    flex-grow: 1;
}

.s4{
    background-image: url(../Store/2-100.jpg);
    flex-grow: 1;
}

.s5{
    background-image: url(../Store/7-100.jpg);
    flex-grow: 1;
}

.s6{
    background-image: url(../Store/10-100.jpg);
    flex-grow: 1;
}

.s7{
    background-image: url(../Store/17-100.jpg);
    flex-grow: 1;
}

.s8{
    background-image: url(../Store/28-100.jpg);
    flex-grow: 1;
}

.s9{
    background-image: url(../Store/32-100.jpg);
    flex-grow: 1;
}

.s1 p, .s7 p{
    position: absolute;
    top: 80px;
    left: 260px;
    text-align: center;
}

.s2 p, .s8 p{
    position: absolute;
    top: 80px;
    left: 645px;
    text-align: center;
}

.s4 p{
    position: absolute;
    top: 80px;
    left: 35px;
    text-align: center;
}

.s5 p{
    position: absolute;
    top: 80px;
    left: 455px;
    text-align: center;
}

.s6 p{
    position: absolute;
    top: 80px;
    right: 240px;
    text-align: center;
}

.s9 p{
    position: absolute;
    top: 80px;
    right: 30px;
    text-align: center;
}

.s9 i{
    position: absolute;
    bottom: 30px;
    right: 95px;
    text-align: center;
    cursor: pointer; 
}

li:hover {
    opacity: 0.8;
}

li:hover p{
    color: whitesmoke;
    font-weight: bold;
}

/* --------------- 地址 & google map ----------------*/
.storeadd h3{
    text-align: center;
    margin-top: 50px;
}

.storeadd p{
    text-align: center;
}

.storeadd iframe{
    display: block;
    margin: 0 auto;
    padding: 20px;
}